.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  border: 1px solid #7d7d7d24;
  border-radius: 11px;
  padding: 16px;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}
.btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}
.icon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 20px;
  width: 20px;
  font-size: 20px;
  pointer-events: none;
}
.icon > * {
  font-size: 18px;
}
.title {
  font-weight: 700;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.body {
  font-weight: 400;
  font-size: 15px;
}