@media (prefers-color-scheme: dark) {
  body[data-theme="automatic"] {
    background-color: #303036;
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  body[data-theme="automatic"] {
    background-color: #fff;
    color: #303036;
  }
}