.circle {
  border-radius: 50%;
  box-shadow: 0 0 0 3px #86868626 inset;
  overflow: hidden;
  position: relative;
}
.canvas {
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  position: absolute;
  top: 0px;
  left: 0;
}
.overlay {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #2f86e8;
}
.icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #2f86e8;
  font-size: 22px;
}
.shadow {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  border-radius: 500px;
}